<?xml version="1.0"?>
<robot name="sensor_ov5647" xmlns:xacro="http://www.ros.org/wiki/xacro">


<xacro:property name="M_PI" value="3.1415926535897931" />


<!-- - - - - - - - - - - - - - OV5647 SENSOR - - - - - - - - - - - - - -->

  <xacro:macro name="sensor_ov5647" params="prefix prefix_topic:='front_rgbd_camera_' parent use_sim *origin">
    
    <!-- Camera link -->
    <link name="${prefix}link">

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://nano_atom_description/meshes/devices/ov5647.dae" />
        </geometry>
      </visual>

      <collision>
        <origin xyz="-0.005 0 0.00235" rpy="0 0 0"/>
        <geometry>
          <box size="0.0012 0.0252 0.0242"/>
        </geometry>
      </collision>

      <inertial>
        <mass value="1e-5" />
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
      </inertial>

    </link>

    <!-- Camera joint -->
    <joint name="${prefix}joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${prefix}link" />
    </joint>


    <!-- RGB optical link -->
    <link name="${prefix}rgb_optical_link">
    </link>

    <!-- RGB optical joint -->
    <joint name="${prefix}rgb_optical_joint" type="fixed">
      <origin xyz="0.003 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}" />
      <parent link="${prefix}link"/>
      <child link="${prefix}rgb_optical_link" />
    </joint>

		<!-- ov5647 sensor for simulation -->
    <xacro:if value="${use_sim}">
      <xacro:sensor_ov5647_gazebo prefix="${prefix}" prefix_topic="${prefix_topic}"/>
    </xacro:if>

  </xacro:macro>
 

<!-- - - - - - - - - - - - - - OV5647 GAZEBO - - - - - - - - - - - - - -->

  <xacro:macro name="sensor_ov5647_gazebo" params="prefix prefix_topic">
  
    <gazebo reference="${prefix}link">  
      <sensor name="${prefix}sensor" type="camera">
        <pose>0 0 0 0 0 0</pose>
        <update_rate>30</update_rate>
        <always_on>true</always_on>
        <topic>${prefix_topic}/color/image_raw</topic>
        <camera_info_topic>${prefix_topic}/color/camera_info</camera_info_topic>
        <!-- Hack to set frame id for gazebo ros2 bridge. Ignore SDF warning -->
        <gz_frame_id>${prefix}rgb_optical_link</gz_frame_id>
        <camera>
          <horizontal_fov>${60.0*M_PI/180.0}</horizontal_fov>
          <image>
            <format>R8G8B8</format>
            <width>640</width>
            <height>480</height>
          </image>
          <clip>
            <near>0.05</near>
            <far>8.0</far>
          </clip>
        </camera>
      </sensor>
    </gazebo>

  </xacro:macro>


  
</robot>