<?xml version="1.0"?>
<launch>

    <!-- - - - - - - - - - - -  NANO ATOM TELEOP - - - - - - - - - - -->

    <!-- Robot properties -->
    <arg name="robot_id"        default="$(optenv ROBOT_ID robot)" />
    <arg name="prefix"          default="$(arg robot_id)_"         />

    <!-- Teleop options -->
    <arg name="use_joystick"    default="$(optenv ROBOT_PAD true)"          />
    <arg name="use_keyboard"    default="$(optenv ROBOT_KEYBOARD false)"    />
    <arg name="use_virtual_pad" default="$(optenv ROBOT_VIRTUAL_PAD false)" />

    <!-- Teleop output -->
    <arg name="cmd_vel" default="pad_teleop/cmd_vel" />

    <!-- Teleop properties -->
    <arg name="pad_dev"        default="$(optenv ROBOT_PAD_DEV /dev/input/js_robot)"         />
    <arg name="pad_model"      default="$(optenv ROBOT_PAD_MODEL ps4)"                       />
    <arg name="pad_driver"     default="$(optenv ROBOT_PAD_DRIVER ds4drv)"                   />
    <arg name="joystick_twist" default="$(find nano_atom_teleop)/config/joystick_twist.yaml" />


    <group ns="$(arg robot_id)">

        <!-- Start joystick -->
        <include if="$(arg use_joystick)" file="$(find roboticarts_pad)/launch/roboticarts_pad.launch">
        
            <arg name="joy_dev"   value="$(arg pad_dev)"           />
            <arg name="cmd_vel"   value="pad_teleop/cmd_vel"       />
            <arg name="driver"    value="$(arg pad_driver)"        />
            <arg name="pad"       value="$(arg pad_model)"        />
            <arg name="pad_twist" value="$(arg joystick_twist)"    />
        </include>

    </group>

</launch>
